@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@font-face {
    font-family: OhouseIcon;
    src: url('../fonts/d8923b386a66fd50.woff2') format('woff2');
    font-weight: 400;
}